services:
  mongo:
    image: mongo:7
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./Backend
    restart: unless-stopped
    env_file:
      - ./Backend/.env
    environment:
      PORT: "3000"
      MONGO_URI: mongodb+srv://walkingappexe:WRShKGdRhqvnTTOC@walkingapp.yhmrizi.mongodb.net/?retryWrites=true&w=majority&appName=walkingapp
    depends_on:
      - mongo
    ports:
      - "3000:3000"

  frontend:
    build: ./Frontend
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "5173:80"

volumes:
  mongo-data:
